 /* nav */
 
 .navbar-brand {
     color: sandybrown !important;
     font-size: 32px;
     font-weight: bold;
 }
 
 .navbar-brand span {
     color: rgb(5, 150, 202);
 }
 
 .navbar-nav .nav-link {
     margin-right: 15px;
     color: black !important;
     font-size: 15px;
 }
 
 .tombol {
     padding-left: 30px;
     padding-right: 30px;
     background-color: sandybrown;
     color: white;
 }
 /* home */
 
 .home h1 {
     font-weight: bold;
     width: 370px;
     margin-top: 130px;
 }
 
 .home p {
     font-size: 16px;
     color: grey;
     width: 300px;
 }
 
 .home .tombol {
     padding: 11px 30px;
     background-color: sandybrown;
     color: white;
 }
 
 .home img {
     width: 330px;
     height: 380px;
     margin-top: 90px;
     border-top-right-radius: 50px;
     border-bottom-left-radius: 50px;
 }
 /* info panel 1 */
 
 .info-panel1 h1 {
     margin-top: 110px;
     font-weight: bold;
     text-align: center;
 }
 
 .info-panel1 p {
     text-align: center;
     font-size: 15px;
     color: gray;
     margin-top: 30px;
 }
 
 .panel img {
     width: 70px;
 }
 
 .panel h3 {
     font-size: 20px;
     font-weight: bold;
 }
 
 .panel p {
     font-size: 13px;
     width: 190px;
     text-align: left;
     color: gray;
     margin-left: 0;
     margin-top: 0px;
 }
 /* info panel 2 */
 
 .info-panel2 h1 {
     text-align: center;
     margin-top: 110px;
     font-weight: bold;
 }
 
 .info-panel2 p {
     text-align: center;
     font-size: 15px;
     color: gray;
     margin-top: 20px;
 }
 
 .card-body {
     font-weight: bold;
     width: 230px;
     height: 65px;
 }
 
 .gambar img {
     width: 9px;
     height: 15px;
     margin-right: 8px;
     margin-top: -72px;
 }
 
 .card {
     box-shadow: 0 2px 2px -2px #acacac;
     margin-bottom: 10px;
 }
 
 .active {
     width: 230px;
     color: #f4a460;
 }
 
 .info-panel2 .tombol {
     padding: 12px 40px;
     font-weight: bold;
     margin-left: -130px;
 }
 
 .info-panelBtn img {
     width: 7px;
     margin-top: 3px;
     margin-left: -40px;
 }
 /* popular */
 
 .popularTeks h1 {
     font-weight: bold;
     margin-top: 70px;
 }
 
 .popularTeks p {
     font-size: 15px;
     color: gray;
     margin-top: 20px;
 }
 
 .popularTeks .kanan {
     width: 50%;
 }
 
 .popularTeks h6 {
     color: sandybrown;
     margin-top: 95px;
     text-align: right;
     margin-right: 35px;
 }
 
 .popularTeks img {
     width: 15px;
     margin-left: 215px;
     margin-top: -60px;
 }
 
 .popularTeks .kiri {
     width: 50%;
 }
 
 .popularCard h5 {
     font-size: 20px;
     font-weight: bold;
     margin-left: -20px;
     margin-top: -10px;
 }
 
 .popularCard p {
     color: gray;
     font-size: 13px;
     font-weight: normal;
     margin-left: -20px;
     margin-top: -5px;
 }
 
 .card-body img {
     width: 13px;
     margin-top: -100px;
     margin-left: 180px;
 }
 
 .rating p {
     color: sandybrown;
     margin-top: -70px;
     margin-left: 200px;
     font-size: 13px;
 }
 /* testimonial */
 
 .testimonial h1 {
     font-weight: bold;
     margin-top: 70px;
     text-align: center;
 }
 
 .figure {
     width: 100px;
 }
 
 .figure p {
     margin-top: -8px;
     font-size: 12px;
     color: grey;
 }
 
 .figure h6 {
     width: 490px;
     font-size: 13px;
     margin-top: 30px;
     margin-left: -185px;
 }
 
 .jumbotron {
     background-color: sandybrown;
     height: 250px;
     margin-top: 50px;
 }
 
 .jumbotron .display-4 {
     margin-top: -10px;
     text-align: center;
     color: #fff;
     font-weight: bold;
     font-size: 45px;
 }
 
 .jumbotron p {
     color: white;
     font-size: 15px;
     text-align: center;
 }
 
 .form-inline {
     background-color: white;
     border-radius: 5px;
     height: 60px;
 }
 
 .form-group p {
     color: grey;
     margin-top: 15px;
     margin-left: 25px;
 }
 
 .form-group .tombol {
     margin-left: 120px;
 }
 /* Desktop version */
 
 @media (min-width: 992px) {
     /* nav */
     .nav-link:hover {
         color: sandybrown !important;
     }
     .tombol {
         margin-left: 25px;
         padding-left: 30px;
         padding-right: 30px;
         background-color: sandybrown;
         color: white;
     }
     /* home */
     .home .tombol {
         padding: 11px 30px;
         margin-left: 0px;
         background-color: sandybrown;
         color: white;
     }
     .home img {
         width: 330px;
         height: 380px;
         margin-top: 85px;
         margin-left: 50px;
         border-top-right-radius: 50px;
         border-bottom-left-radius: 50px;
     }
     .popularTeks img {
         width: 15px;
         margin-left: 520px;
         margin-top: -60px;
     }
     .form-group .tombol {
         margin-left: 720px;
     }
 }